<section class="sponsors-final">
  <div class="carrusel-sponsors">
    <div class="carrusel-track" id="track">

      <!-- logos -->
      <a href="https://www.instagram.com/petidierphoto/" target="_blank"><img src="img/patrocinadors/petidier.png"></a>
      <a href="https://www.century21.es/" target="_blank"><img src="img/patrocinadors/century21.png"></a>
      <a href="https://debama.es/ca/inici/" target="_blank"><img src="img/patrocinadors/debama.png"></a>
      <a href="https://www.instalacionesdlr.com/" target="_blank"><img src="img/patrocinadors/dlr.png"></a>
      <a href="https://www.eltirodemollet.com/" target="_blank"><img src="img/patrocinadors/eltiro.png"></a>
      <a href="https://www.isernfarmacia.com/" target="_blank"><img src="img/patrocinadors/isern.png"></a>
      <a href="https://finquesortega.com/" target="_blank"><img src="img/patrocinadors/ortega.png"></a>
      <a href="https://garrigagrup.com/ca/" target="_blank"><img src="img/patrocinadors/garriga.png"></a>
      <a href="https://kiwihomes.es/" target="_blank"><img src="img/patrocinadors/kiwi.png"></a>
      <a href="https://www.facebook.com/profile.php?id=100054669195252" target="_blank"><img src="img/patrocinadors/pergola.png"></a>
      <a href="https://llevantpark.com/" target="_blank"><img src="img/patrocinadors/llevantpark.png"></a>
      <a href="https://www.paganbvm.es/" target="_blank"><img src="img/patrocinadors/pagan.png"></a>
      <a href="https://www.wursi.es/" target="_blank"><img src="img/patrocinadors/wursi.png"></a>

    </div>
  </div>
</section>